{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "parser": "babel-eslint",
  "rules": {
    "new-cap": [2, {
      "newIsCap": true,
      "capIsNew": false,
    }],
    "no-const-assign": 2,
    "no-use-before-define": [2, "nofunc"],
    "brace-style": [2,               // http://eslint.org/docs/rules/brace-style
      "stroustrup", {
      "allowSingleLine": true
    }],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-no-bind": 0,
    "react/jsx-filename-extension": 0,
    "prefer-template": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
  },
  "globals": {
    "browser": true
  },
  "extends": "eslint-config-airbnb",
  "plugins": [
    "react"
  ]
}
