html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  font-family: "Source Sans Pro";
}


#main-view {
  padding: 150px 0 50px;
}

.table {
  background: #fff;
}

.table-responsive {
  border: none;
}

.table-header {
  cursor: pointer;
}

.pager li a {
  cursor: pointer;
  display: inline-block;
}

.navbar {
  background: #0057B8;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  margin: 0;
}

.navbar-brand {
  height: 80px;
}

.navbar-brand img {
  height: 100%;
  width: auto;
}

.wrap {
  word-wrap: break-word;
}

.react-spinner_bar {
  background-color: black;
}

thead {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}
